html {
  font-size: 62.5%;
}

@font-face {
  font-family: Gilroy;
  font-weight: normal;
  src: url("./assets/fonts/Gilroy-Light.otf") format("opentype");
}

@font-face {
  font-family: Gilroy;
  font-weight: bold;
  src: url("./assets/fonts/Gilroy-ExtraBold.otf") format("opentype");
}

@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

body {
  margin: 0;
  font-family: Montserrat, Gilroy, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media print {
  body {
    width: 21cm;
    /* height: 29.7cm; */
    /* margin: 30mm 45mm 30mm 45mm; */
    /* change the margins as you want them to be. */
  }
}
